@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--bodyBackground);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

nav ul {
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul:first-child {
  margin-left: 30px;
}

nav ul .saveProcessBtn {
  background-color: var(--fontPrimary);
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 2rem;
  cursor: pointer;
}

nav ul .saveProcessBtn:hover {
  background-color: var(--successGreen);
}

nav ul .saveProcessBtn:hover a {
  color: var(--fontPrimary);
}

nav ul .saveProcessBtn a {
  color: #fff;
}

nav ul li {
  font-weight: 600;
}

nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .brand h3 {
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
}

nav .brand img {
  width: 50px;
}

/* Quiz Topic Page - index.html */

.search {
  width: 600px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 2px;
}
.search input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0.3rem 0.7rem;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s ease-in;
}

.search span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search:focus-within {
  transition: all 0.1s ease-in;
  box-shadow: 0 0 20px 0 var(--questionBG);
}

.quizTopicGrid {
  width: 70%;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 15px;
  row-gap: 20px;
}
.topic {
  width: 320px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 1rem;
}

.topic:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 15px 0 #e5e5e5;
}

.topic p {
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem 0;
}

.topic img {
  width: 100%;
  object-fit: cover;
}

.topic .amountAndScore {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}

.topic .amountAndScore p {
  font-size: 15px;
  font-weight: 400;
  /* text-align: right; */
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 600px) {
  main {
    height: 100vh;
    padding-top: 3rem;
    margin-bottom: 6rem;
  }

  main h1 {
    text-align: center;
  }

  .multipleAnswers {
    grid-auto-flow: unset;
    margin: 1rem 0;
  }

  .multipleAnswers .eachAnswer {
    min-width: 400px;
  }

  .progressContainer {
    width: calc(100vw - 60px);
    bottom: 10px;
  }

  .progressContainer .backButton {
    width: 40px;
    height: 40px;
  }

  .nextQuestionBtn {
    padding: 0.6rem 1rem;
    font-size: 12px;
  }

  nav .brand h3 {
    display: none;
  }

  .search {
    width: 80%;
  }

  .quizTopicGrid {
    width: 90%;
  }

  .topic {
    width: 370px;
  }

  .floatingBtn {
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 10px;
    overflow: hidden;
    border-radius: 50px;
    background-color: var(--fontPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
  }

  .floatingBtn:hover {
    background-color: var(--successGreen);
  }

  .floatingBtn:hover span {
    color: var(--fontPrimary);
  }

  .floatingBtn p {
    display: none;
  }

  .floatingBtn img {
    transform: scale(0);
    display: none;
  }

  .floatingBtn span {
    color: var(--successGreen);
    font-weight: 500;
  }

  .floatingBtn .open {
    display: block;
  }

  .miniPlayer .close {
    display: block;
    position: absolute;
    right: 8px;
    top: 7px;
    z-index: 10;
  }

  .miniPlayer .close:hover {
    color: #fff;
    cursor: pointer;
  }

  .floatingBtn .close {
    display: none;
  }
}
