@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --progress: 10;
  --active: #2dbf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--bodyBackground);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

nav ul {
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul:first-child {
  margin-left: 30px;
}

nav ul .saveProcessBtn {
  background-color: var(--fontPrimary);
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 2rem;
  cursor: pointer;
}

nav ul .saveProcessBtn:hover {
  background-color: var(--successGreen);
}

nav ul .saveProcessBtn:hover a {
  color: var(--fontPrimary);
}

nav ul .saveProcessBtn a {
  color: #fff;
}

nav ul li {
  font-weight: 600;
}

nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .brand h3 {
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
}

nav .brand img {
  width: 50px;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 600px) {
  nav .brand h3 {
    display: none;
  }
}
